:root {
  --marp-line-height: 1.4;
}

body {
  line-height: var(--marp-line-height);
  overflow-y: scroll;
  user-select: none;
}

button,
vscode-button::part(content) {
  line-height: var(--marp-line-height);
}
