version: 2.1

orbs:
  codecov: codecov/codecov@5.0.3

executors:
  node:
    parameters:
      version:
        type: string
        default: lts
    docker:
      - image: cimg/node:<< parameters.version >>
    working_directory: ~/marp-vscode

commands:
  install:
    parameters:
      postinstall:
        type: steps
        default: []
    steps:
      - run: node --version

      - restore_cache:
          keys:
            - v2.3-dependencies-{{ .Environment.CI_CACHE_KEY }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}-{{ .Branch }}
            - v2.3-dependencies-{{ .Environment.CI_CACHE_KEY }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}-
            - v2.3-dependencies-{{ .Environment.CI_CACHE_KEY }}-{{ .Environment.CIRCLE_JOB }}-

      - run: npm ci
      - steps: << parameters.postinstall >>

      - save_cache:
          key: v2.3-dependencies-{{ .Environment.CI_CACHE_KEY }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}-{{ .Branch }}
          paths:
            - ~/.npm

  audit:
    steps:
      - checkout
      - install:
          postinstall:
            - run: npm run check:audit

  test:
    parameters:
      jest-parameters:
        type: string
        default: --maxWorkers=2
    steps:
      - checkout
      - install

      - run:
          name: Prettier formatting
          command: npm run check:format

      - run:
          name: TypeScript type checking
          command: npm run check:ts

      - run:
          name: ESLint
          command: npm run lint:js

      - run:
          name: stylelint
          command: npm run lint:css

      - run:
          name: Jest
          command: npm run test:unit:coverage -- --ci --reporters=default --reporters=jest-junit --detectOpenHandles << parameters.jest-parameters >>
          environment:
            JEST_JUNIT_OUTPUT_DIR: tmp/test-results

      - codecov/upload

      - store_test_results:
          path: tmp/test-results

      - store_artifacts:
          path: ./coverage
          destination: coverage

jobs:
  audit:
    executor: node
    steps:
      - audit

  unit-electron27:
    executor:
      name: node
      version: '18.17.1'
    steps:
      - test:
          jest-parameters: -i

  unit-electron28:
    executor:
      name: node
      version: '18.18.2'
    steps:
      - test:
          jest-parameters: -i

  unit-electron29:
    executor:
      name: node
      version: '20.9.0'
    steps:
      - test

  unit-electron30:
    executor:
      name: node
      version: '20.14.0'
    steps:
      - test

  unit-electron32:
    executor:
      name: node
      version: '20.18.0'
    steps:
      - test

workflows:
  test:
    jobs:
      - audit
      - unit-electron27:
          requires:
            - audit
      - unit-electron28:
          requires:
            - audit
      - unit-electron29:
          requires:
            - audit
      - unit-electron30:
          requires:
            - audit
      - unit-electron32:
          requires:
            - audit
